project:
  type: book

book:
  title: "analytical-validation"
  author: "Ian Levine"
  date: "10/6/2025"
  chapters:
    - index.qmd
    - intro.qmd
    - calibration.qmd
    - summary.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt

editor: visual

